/* Globally declare colors */
* {
    /* Background colors, accents etc. */
    -fx-accent1: #125B50;
    -fx-accent2: #F8B400;
    -fx-accent2-faded: rgba(248, 180, 0, 0.25);
    -fx-accent3: #FAF5E4;

    /* Text colors */
    -fx-primary-text-color: #000000;
    -fx-primary-text-color-faded: rgba(0, 0, 0, 0.8);

    /* Border colors */
    -fx-primary-border-color: #000000;
    -fx-secondary-border-color: #FFFFFF;


    -fx-secondary-text-color: #FFFFFF; /* For matching the primary accent */
}

.primary-text {
    -fx-font-size: 18pt;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-secondary-text-color;
}

.history-image {
    -fx-background-image: url("/images/missing.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-border-color: -fx-secondary-border-color;
    -fx-border-width: 1px;
}

.card-container {
    -fx-background-color: -fx-accent1;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 1px;
}