/* Globally declare colors */
* {
    /* Background colors, accents etc. */
    -fx-accent1: #125B50;
    -fx-accent2: #F8B400;
    -fx-accent2-faded: rgba(248, 180, 0, 0.25);
    -fx-accent3: #FAF5E4;
    -fx-accent4: #EC2020;

    /* Text colors */
    -fx-primary-text-color: #000000;
    -fx-primary-text-color-faded: rgba(0, 0, 0, 0.8);

    /* Border colors */
    -fx-primary-border-color: #000000;

    -fx-secondary-text-color: #FFFFFF; /* For matching the primary accent */
}

.top-header {
    -fx-background-color: -fx-accent1;
}

.header-logo {
    -fx-font-size: 64 pt;
    -fx-font-family: 'Britannic Bold';
    -fx-text-fill: -fx-secondary-text-color;
}

.search-bar {
    -fx-background-color: -fx-secondary-text-color;
    -fx-border-radius: 25px;
    -fx-background-radius: 9999999px;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: -fx-primary-text-color-faded;
    -fx-text-fill: -fx-primary-text-color;
}

.main-nav-button {
    -fx-font-size: 24pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-text-fill: -fx-primary-text-color;
    -fx-background-color: transparent;
    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 1px;
}

.main-nav-button:hover {
    -fx-background-color: -fx-accent2-faded;
    -fx-text-fill: -fx-primary-text-color-faded;
}

.main-nav-button-active {
    -fx-background-color: -fx-accent2;
}

.back-bar {
    -fx-background-color: -fx-secondary-text-color;
    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 1px;
}

.back-bar-text {
    -fx-font-size: 16pt;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

.clickable {
    -fx-cursor: hand;
}

.darkening {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.detail-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
}

.detail-header {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 24pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.detail-amount-per-item {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
}

.detail-origin-category {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.detail-selector {
    -fx-background-color: -fx-accent1;
    -fx-border-color: -fx-primary-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 9999999999px;
    -fx-background-radius: 9999999999px;
}

.detail-amount-text {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.detail-info {
    -fx-border-width: 0px;
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
}

.detail-price {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.page-background {
    -fx-background-color: #f4f4f4;
}

.green-background {
    -fx-background-color: -fx-accent1;
}

.wizard-text {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 20pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.active-wizard-tab-number {
    -fx-background-color: -fx-accent4;
    -fx-background-radius: 100%;
}

.big-prominent-done-button {
    -fx-background-color: -fx-accent4;
    -fx-background-radius: 10px;
    -fx-font-family: Roboto;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-secondary-text-color;
    -fx-cursor: hand;
}

.big-prominent-done-button:hover {
    -fx-opacity: 0.8;
}

.wizard-show-total-box {
    -fx-border-width: 1px;
    -fx-border-color: -fx-primary-border-color;
}

.wizard-total-text {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.weekday-label {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.time-selector-option-background {
    -fx-background-color: -fx-secondary-text-color;
    -fx-background-radius: 5px;
}

.time-selector-option-text {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.form-background {
    -fx-background-color: -fx-accent1;
    -fx-background-radius: 10px;
}

.form-text-input {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-background-color: -fx-secondary-text-color;
    -fx-background-radius: 9999999999px;
}

.form-input-label {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.form-header {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 24pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.form-checkbox-text {
    -fx-text-fill: -fx-secondary-text-color;
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.delivery-text {
    -fx-text-fill: -fx-primary-text-color;
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}